*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/bg-mobile.svg) no-repeat, hsl(257, 40%, 49%);
  background-size: contain;
  font-family: 'Open Sans', sans-serif;
}

main,
footer {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.logo {
  width: 9rem;
}

header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

section {
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.content {
  margin-top: 2rem;
  line-height: 1.5;
}

p {
  margin: 1rem 0;
}

button {
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  color: hsl(257, 40%, 49%);
  border: none;
  padding: 0.5rem 4rem;
  margin-top: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.footer-row {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.fa-brands {
  color: hsl(0, 0%, 100%);
  padding: .5rem;
  margin-left: .8em;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.fa-facebook-f {
  padding: .5rem .7rem;
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: hsl(0, 0%, 100%);
}

.fa-brands:hover {
  border-color: hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

@media screen and (min-width: 50em) {
  main,
  footer {
    width: 90%;
  }

  body {
    background: url(./images/bg-desktop.svg) no-repeat, hsl(257, 40%, 49%);
    background-size: cover;
  }

  header {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .logo {
    width: 13rem;
  }

  section {
    margin-top: 7.5rem;
    text-align: left;
  }

  .section-row {
    display: flex;
    gap: 3rem;
  }

  .illus {
    width: 60%;
  }

  .content {
    width: 35%;
  }

  section h1 {
    font-size: 2.25rem;
  }

  section button {
    padding: 0.8rem 3rem;
  }

  .footer-row {
    justify-content: flex-end;
  }
}